.new__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.forget__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.error {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9em;
  text-align: center;
}

.new__password-btn {
  height: 46px;
  width: 460px;
  border-radius: 16px;
  border: 1px solid #5353aa;
  color: #f8f8f8;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  outline: none;
  background: #5353aa;
}

.new__password-notication_cont {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.new__password-notication_cont div {
	width: 500px;
	text-align: center;
}

.new__password-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #6b6b6b;
}

.new__password-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #5353aa;
		display: inline-block;
		margin-top: 24px;
}

@media (max-width: 768px) {
  .new__container {
    width: 360px;
    padding: 0px 16px;
    height: 100vh;
  }

  .forget__form {
    width: 100%;
  }

  .new__password-btn {
    width: 100%;
  }
}
