/* ToastStyles.css */

.custom-toast-error {
	background-color: #e84747;
	color: #fff;
}

.toast-positon {
	margin-top: -20%;
}

.custom-toast-success {
	background-color: green;
	color: white;
}

.custom-toast-body {
	font-size: 16px;
	width: 500px !important;
	padding: 0 10px;
	/* margin: 20% !important; */
	font-weight: thin;
}

.custom-toast-progress {
	/* background: linear-gradient(to right, #c2cec2, #81c784); */
	background: linear-gradient(to right, #ffffff, #81c784);
}
