.forget {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.header__div {
	width: 450px;
	text-align: left;
}

.forget__text {
	margin-bottom: 20px;
	margin-top: 10px;
	max-width: 450px;
	color: #929292;
}

.forget__form {
	display: flex;
	flex-direction: column;
}

.submit__btn {
	width: 460px;
	background-color: #5353aa;
	outline: none;
	border: none;
	padding: 16px;
	border: 1px;
	border-radius: 16px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	/* margin-top: 20px; */
}

.submit__btn:hover {
	background-color: #3b3b90;
	transition: all 0.8s ease;
}

.email__input {
	margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
	.forget {
		width: 100%;
		margin: 15% 2%;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.forget__form {
		margin: 0 auto;
		width: 100%;
	}

	.forget__text {
		width: 80%;
	}

	.submit__btn {
		width: 100vw;
	}
}
