.signup__section {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.section__logo {
  margin-top: 10px;
}

.logo {
  width: 170px;
  height: 47px;
}

.section__left {
  padding: 2rem 0 0 5rem;
}

.section__content {
  margin-top: 2rem;
}

/* Header two starts here */
.text-bg {
  font-weight: 700;
  size: 24px;
  line-height: 28px;
  color: #414141;
}

/* Header two ends here */

.section__content h2 {
  margin-bottom: 1rem;
}

.section__content p {
  /* margin-bottom: 1rem; */
}

.section__form {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  margin-top: 1rem;
}

.text__sm {
  font-size: 16px;
  line-height: 20px;
  color: #606060;
}

.text__sm a {
  color: #5353aa;
  text-decoration: none;
}

.text__sm-policy {
  font-size: 16px;
  line-height: 20px;
  color: #606060;
  width: 400px;
  text-align: center;
  margin-top: 1rem;
}

.text__sm-policy a {
  color: #5353aa;
  text-decoration: none;
}

.section__right {
  padding: 0.5rem;
}

.section__right img {
  width: 698px;
}

.error {
  border: 1px solid #FF5656;
}

.red {
  color: #FF5656;
}
