.error__container {
	max-width: max-content;
 display: flex;
 gap: 8px;
 /* border-radius: 8px; */
 padding: 8px 24px 8px 24px;
 background: #E84747;
} 

.error__container div {
	/* width: 526px; */
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.error__text {
 color: #FFFFFF;
 font-weight: 400;
 font-size: 16px;
 line-height: 20px;
}

@media (max-width: 768px) {
.error__container{
	
	width: 100%;
	max-width: 100%;
}
}