input {
	width: 460px;
	height: 56px;
	border-radius: 16px;
	border: 1px solid #b5b5b5;
	padding: 16px;
}

input::placeholder {
	color: #929292;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	font-family: "Lato", sans-serif;
}

input:focus {
	outline: none;
	border: 1px solid #5353aa;
}

.red {
	color: #ff5656;
}

.text__sm {
	font-size: 16px;
	line-height: 20px;
	color: #606060;
}

@media (max-width: 768px) {
	input {
		width: 360px;
	}
}
