.main__container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub__container {
  width: 537px;
  height: 268px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  position: relative;
}

h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #414141;
  text-align: center; 
  margin-left: -75px;
}

.sub__container p {
 width: 373px;
 height: 60px;
 font-family: Mulish;
 font-weight: 400;
 font-size: 16px;
 line-height: 20px;
 margin-left: 35px;
 margin-bottom: 20px;
 color: #929292;
}