.upload__videos-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(31, 31, 31, 0.6);
  z-index: 9;
  overflow: auto;
}

.upload__videos-container {
  width: 1115px;
  height: 500px;
  position: absolute;
  top: 70px;
  left: 215px;
  border-radius: 8px;
  background: #ffffff;
}

.upload__heading {
  /* width: 1115px; */
  /* height: 56px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
  border-bottom: solid 1px #b5b5b5;
}

.upload__heading-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #606060;
}

.cancel__icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.upload__select-files {
  width: 1115px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload__select-files_sub--cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.upload__icon-background {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  background: #f8f8f8;
}

.upload__icon {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 20px;
  left: 22px;
}

.upload__select-files_text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #414141;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 28px;
}

.upload__select-files_button {
  /* height: 20px; */
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
}

.select__files {
  /* height: 46px; */
  width: 213px;
  border-radius: 16px;
  border: 1px solid #5353AA;
  color: #F8F8F8;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background: #5353AA;
  display: flex;
  align-center: center;
  justify-content: center;
  padding: 12px 24px;
}

.upload__select-files_button a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5353aa;
  text-decoration: none;
  display: block;
}

.upload__file-format__cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 1.2rem;
}

.upload__file-format__cont p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #414141;
}

.upload__file-format {
  width: 460px;
  height: 84px;
  display: inline-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
   gap: 14px;
  margin-bottom: 1.5rem;
}

.file__format-top span {
  width: 58px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eeeef7;
  border-radius: 16px;
  font-weight: 400;
  font-size: 12px;
  color: #414141;
  flex-wrap: wrap;
  line-height: 16px;
}

.file__format-below span {
  width: 58px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eeeef7;
  border-radius: 16px;
  font-weight: 400;
  font-size: 12px;
  color: #414141;
  line-height: 16px;
}

.upload__file-format span:not(:last-child) {
  margin-right: ;
}

.file__format-top {
  display: flex;
  gap: 10px;
}

.file__format-below {
  display: flex;
  gap: 10px;
}











@media (max-width: 768px) {

  .upload__videos-container {
    width: 90%;
    height: auto;
    position: relative;
    top: 10px;
    left: 0;
    border-radius: 8px;
    background: #ffffff;
    overflow: auto;
  }
  .upload__videos-background {
   display: flex;
   justify-content: center;
   align-items: center;
 flex-direction: column; 
  }
  .upload__select-files {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }

  .upload__file-format__cont {
   flex-wrap: wrap;
    gap: 10px;
    margin-top: 1.2rem;
    width: 100%;
  
  }
  .file__format-top{
   
    width: 100%;
  }

  .upload__file-format {
    width: 100%;
    
  }
}