.home {
  display: flex;
}

.main__pane {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main__container {
  background: #f8f8f8;
  padding: 1rem 2rem;
  overflow: hidden;
  flex: 1;
}

.wallet__figure-container {
  display: flex;
  width: 1120px;
  gap: 24px;
  margin-top: 1rem;
}

.wallet__balance-container {
  background: #ffffff;
  width: 540px;
  border-radius: 8px;
  height: 424px;
  padding: 1.5rem;
  position: relative;
  overflow: auto;
}

.wallet__balance-figure {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #414141;
}

.wallet__transaction-history {
  position: absolute;
  top: 172px;
  left: 25px;
}

.wallet__no-transaction {
  position: absolute;
  top: 100px;
  left: 108px;
  width: 280px;
}

.wallet__no-transaction p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #606060;
}

.wallet__balance-div {
  position: absolute;
  top: 84px;
  left: 25px;
}

.wallet__withdrawal-container {
  background: #ffffff;
  width: 550px;
  border-radius: 8px;
  height: 424px;
  padding: 1.5rem;
  position: relative;
  overflow: auto;
}

.wallet__transaction-history_wrapper {
  padding-bottom: 1.5rem;
}

.wallet__withdrawal-balance_div {
  position: absolute;
  top: 84px;
  left: 25px;
}

.wallet__withdrawal-button {
  position: absolute;
  top: 156px;
  left: 25px;
}

.withdrawal__button {
  width: 192px;
  /* color: #f8f8f8; */
  /* color: #ffffff; */
  border-radius: 16px;
  padding: 16px 24px 16px 24px;
  background: #5353aa;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.wallet__withdrawal-transaction_history {
  position: absolute;
  top: 260px;
  left: 32px;
}

.wallet__withdrawal-no_transaction {
  position: absolute;
  top: 260px;
  left: 148px;
}

.wallet__transaction-div {
  display: flex;
  justify-content: space-between;
  width: 465px;
  margin-top: 1.5rem;
}

.wallet__course-purchase {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.wallet__transaction-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #929292;
}

.wallet__transaction-amount {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #414141;
}

.wallet__transaction-withdrawn {
  color: #ff5656;
}

.wallet__transaction-date {
  display: flex;
  gap: 4px;
}

.mobile__toggle-div {
  display: none;
}

.mobile__tab-content {
  display: none;
}

.mobile__wallet-transaction_history {
  display: none;
}

@media (max-width: 768px) {
  .main__container {
    padding: 1rem 1rem;
  }

  .wallet__figure-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  /* hide balance and withdrawal container of desktop */
  .wallet__balance-container {
    display: none;
  }

  .wallet__withdrawal-container {
    display: none;
  }
  /* bot containers eends here */

  .mobile__toggle-div {
    display: block;
    width: 343px;
    height: 48px;
    background: #ffffff;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  .mobile__toggle-button {
    width: 163px;
    height: 40px;
    border-radius: 20px;
    padding: 9px 32px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .mobile__toggle-button.active {
    background: #5353aa;
    color: #ffffff;
    transition: all 0.2s;
    border: none;
    outline: none;
  }

  .mobile__tab-content {
    display: block;
    background: #ffffff;
    width: 343px;
    height: 100vh;
    padding: 0 16px;
  }

  .mobile__balance-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobile__wallet-no_transaction {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #606060;
    margin-top: 5rem;
  }

  .mobile__wallet-withdrawal_no-transaction {
    margin-top: 3rem;
  }

  .mobile__wallet-transaction_history {
    display: block;
    width: 343px;
  }
}
